		body{
			margin: 0;
			padding: 0px;
			height: auto;
		
		}
		#container{
				width: 100%;
				margin: 0;
				padding: 80px;
				background-color:  gray;
				 text-align: right;
				 
				
		}
		header{
			width: 1100px;
			color: gray;
			padding: 0px;
			margin: 0;
			position: absolute;
			top:80;
		}
		#content{
			position: absolute;
			width: 700px;
		
			top: 400px;
			font-size: 36px;
			right: 930px;
		}
		#cheapflights {
			position:absolute;
			width: 500px;
			top:100;
			right: 1000px;
			
		}
		#foodheadline{
			position: absolute;
			font-weight: bold;
			font-family: georgia;
			padding: 15px 32px;
			color: yellow;
			top:220px;
			right: 1200px;
			font-size: 46px;

		}
		
		
		
		
		#justs {
			top:5px;
			right: 800px;
			position:absolute;
		}
		.nav {
			text-align: center;
			top: 100px;
			position: absolute;
			right: 790px;
			
		}
		.text {
			font-family: Georgia;
			font-weight: 900;
			
		}
		#col1 {
			color:  yellow;
				
			
		}	
		h2 {
			font-family: Georgia;
			background-color: yellow;
			border: none;
			color: #3F3F3F;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 26px;
		}
	
		.background img{
			float: middle;
			margin: 250px 0px 0px 200px;
			width: 800px;
			height:400px;
		}
			
		#foodtext {
			color: red;
			width: 300px;
			font-family: georgia;
			right: 200px;
			
		}
		
	.plane{
		width: 100px;
		position
    }

	
	
	#adviceheadline {
		position:absolute;
		font-weight: bold;
		top: 235px;
		padding: 15px 32px;
		left: 800px;
		font-size: 46px;
		font-family: georgia;
		color: yellow;
	}
	.advice img{
		position: absolute;
		width: 1000px;
		height: 800px;
		margin: 200px 0px 0px 70px;
		float: right
	}
		
		
	.plane img{
		position: absolute;
		float: middle;
		margin: 50px 0px 0px 1300px;
		width: 458px;
		height: 669px;
}
	.food2 img{
		position:absolute;
		float: left;
		margin: 0px 0px 0px 900px;
		height: 500px;
		width: 850px;
		top: 200px;
	}	
	.food1 img{
		position:absolute;
		float: right;
		margin: 0px 0px 0px 130px;
		top:400px;
	}
	
	
.share {
			
  border: 1px solid LightGrey;
  position: absolute;
  padding: 50px;
  text-align: center;
  width: 100%;
  top: 1400px;
  background-color: grey;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 0px;
  padding: 20px;
  text-decoration: none;
}

.share a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}
		